body{
  font-family: 'Comic Neue', cursive;
  background: #D8DFE8;
}

main{
  display: flex;
}

.secciontexto{
  display: flex;
  gap: 2em;
  width: 50%;
  flex-direction: column;
  margin-left: 15%;
  padding-top: 3em;
}

.logoprincipal{
  width: 7em;
  position: relative;
  left: -25%;
}

.areatexto{
  font-weight: 400;
  font-size: 2em;
  line-height: 1.5em;
  color: #0A3871;
  font-family: 'Comic Neue', cursive;
  border: none;
  background: transparent;
  display: block;
  resize: none;
  width: 80%;
}

.areatexto:focus{
  outline: none;
}

.areatexto::placeholder{
  color: #0A3871;
}

.advertencia{
  width: auto;
  height: 1em;
  font-size: 1em;
}

.secciontextobotones{
  display: flex;
  flex-direction: row;
  gap: 2em;
  width: auto;
  height: 4em;
}

.botonencriptar{
  flex: none;
  background: #0A3871;
  border-radius: 1.5em;
  width: 30%;
  height: 4em;
  font-family: 'Comic Neue', cursive;
  color: white;
  font-weight: bolder;
}

.botondesencriptar{
  flex: none;
  width: 30%;
  height: 4em;
  background: #D8DFE8;
  border: 0.2em solid #0A3871;
  border-radius: 1.5em;
  font-family: 'Comic Neue', cursive;
  color: #0A3871;
  font-weight: bolder;
}

.seccionencriptado{
  display: flex;
  position: relative;
  padding-top: 1.3em;
  width: 25em;
  background: #FFFFFF;
  box-shadow: 0em 1.5em 2em -0.5em rgb(0 0 0 / 25%);
  border-radius: 2em;
  margin: 3em 3em 0 0;
}

.areaencriptado{
  display: none;
  position: absolute;
  left: 0.8em;
  font-weight: 400;
  font-size: 1.5em;
  line-height: 150%;
  color: #495057;
  font-family: 'Comic Neue', cursive;
  border: none;
  background: transparent;
  resize: none;
}

.areaencriptado:focus{
  outline: none;
}

.imgbuscando{
  position: absolute;
  width: 75%;
  left: 12.5%;
  right: 12.5%;
  height: 20em;
  top: 12em;
}

.msgnohaytexto{
  text-align: center;
  position: absolute;
  width: 75%;
  height: 9.5em;
  top: 34em;
  left: 12.5%;
  right: 12.5%;
}

.msgnohaytexto strong{
  font-weight: bolder;
  font-size: 1.6em;
}

.divbotoncopiar{
  box-sizing: border-box;
  display: flex;
  flex-direction: column-reverse;
  margin: 1em 2em;
}

.botoncopiar{
  display: none;
  width: 25em;
  height: 5em;
  border: 1px solid #0A3871;
  border-radius: 1.5em;
  color: #0A3871;
  font-family: 'Comic Neue', cursive;
  font-weight: bolder;
}